@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom components */
@layer components {
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
}
